# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt

# Ignore zip files
**/*.zip
# Ignore Forge's License, Readme, changelog
LICENSE.txt
README.txt
changelog.txt
# Ignore libreoffice's lock files
 **/*.~lock*